<a href="https://colab.research.google.com/github/DaveWates/Assignment-ISYS5002/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This Program determines the salary of key executive personnel of companies whereby a user provides a stock market ticker. (I have chosen the major Australian Banks as a test sample). It will then calculate the tax payable on the reported income.**

**1. Load the packages**

In [1]:
!pip install kora -q
from kora.selenium import wd
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
# Establish Pattern
url = ('https://finance.yahoo.com')
wd.get(url)

**2. Query the Yahoo Finance website using a format string**. When we look for where in Yahoo finance the salary of the executives is stored, we choose a particular stock ticker symbol and select the profile tab. This then provides the relevant web url for the search. 


Of course this is specific to the ticker symbol input. In order to apply this across all companies, we use a format string which replaces the particular ticker with curly brackets. Then we issue a command to tell the program to format the url replacing the {} with what ever is input by the user.

In [23]:
# Work out the URL pattern
salary_template = ('https://finance.yahoo.com/quote/{}/profile?p={}')
#ticker_symbol = 'User input'
ticker_symbol = input('What is the stock ticker symbol for the company you wish to search? ')
url = salary_template.format(ticker_symbol,ticker_symbol)
print('the url for the search is', get_ticker_symbol())

What is the stock ticker symbol for the company you wish to search? WBC.AX
the url for the search is https://finance.yahoo.com/quote/WBC.AX/profile?p=WBC.AX

In [22]:
# Create a function to provide the relevant URL 
salary_template = ('https://finance.yahoo.com/quote/{}/profile?p={}')
def get_ticker_symbol():
 url = salary_template.format(ticker_symbol,ticker_symbol)
 return url

In [24]:
get_ticker_symbol()

'https://finance.yahoo.com/quote/WBC.AX/profile?p=WBC.AX'

In [25]:
wd.get(get_ticker_symbol())
soup = BeautifulSoup(wd.page_source, 'html.parser')
table = soup.find('table')
body = table.find('tbody')
rows = body.find_all('tr')
list_of_records = [] # create a empty list to save/store our records
for row in rows:
  data =row.find_all('td')
  data =[x.text.strip() for x in data] 
 # Remeber computer start counting form zero, so the 'first' is '0'
  record = {'name': data[0], 'title': data[1], 'pay': data[2]}
  list_of_records.append(record)  # save the record to our list
# lets see if that workd, print out the records
#print(str(list_of_records))
#len(list_of_records)

list_of_records = pd.DataFrame(list_of_records)
print(list_of_records)


#print(list_of_records[0]['name'],list_of_records[0]['pay'] )
#print(list_of_records[1]['name'],list_of_records[1]['pay'] )
#print(list_of_records[2]['name'],list_of_records[2]['pay'] )
#print(list_of_records[3]['name'],list_of_records[3]['pay'] )
#print(list_of_records[4]['name'],list_of_records[4]['pay'] )
#print(list_of_records[5]['name'],list_of_records[5]['pay'] )
#print(list_of_records[6]['name'],list_of_records[6]['pay'] )
#print(list_of_records[7]['name'],list_of_records[7]['pay'] )
#print(list_of_records[8]['name'],list_of_records[8]['pay'] )
#print(list_of_records[9]['name'],list_of_records[9]['pay'] )

                                             name  ...      pay
0         Mr. Peter Francis King F.C.A., BEc, FCA  ...    2.81M
1             Mr. Michael  Rowland B.Com., F.C.A.  ...    1.22M
2                         Mr. Leslie Wilson Vance  ...       1M
3     Ms. Rebecca  Lim B Econ, L.L.B., LLB (Hons)  ...  871.92k
4                           Ms. Christine  Parker  ...   999.8k
5  Mr. Jason  Yetton B.Com., BCom, TGMP, GDAppFin  ...    1.25M
6                        Ms. Carolyn  McCann B.A.  ...     941k
7                              Mr. David  Stephen  ...    1.89M
8                              Mr. Scott  Collary  ...      N/A
9                              Mr. Andrew  Bowden  ...      N/A

[10 rows x 3 columns]

In [ ]:
def get_records(soup):
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  list_of_records = [] # create a empty list to save/store our records
  for row in rows:
    for row in rows:
     cols=row.find_all('td')
     cols=[x.text.strip() for x in cols]
     return (cols[0],cols[2])
     list_of_records.append(cols[0],cols[2])    
    #data = row.find_all('td')
    # Remember computer start counting form zero, so the 'first' is '0'
    #record = {'name': data[0], 'title': data[1], 'pay': data[2]}
    #list_of_records.append(record)  # save the record to our list

  #return list_of_records
print(list_of_records)

In [ ]:
def get_salary(salary_string):
   cols[2] = salary_string[-1] 
   num_part = salary_string[0:-1]
   if last_char == 'M':
        salary = float(num_part) * 1000000
   elif last_char == 'k': 
        salary = float(num_part) * 1000
   else: # Must a N/A entry
        salary = 0

In [ ]:
def calc_tax(income):
  if income <= 18200:
    tax = 0
  elif 18200 < income <= 45000:
    tax = (income - 18200) * 0.19
  elif 45000 < income <= 120000:
    tax = ((income - 45001) * 0.325) + 5092
  elif 120000 < income <= 180000:
    tax = ((income - 120001) * 0.37) + 29467
  elif 18000 < income: 
    tax = ((income - 180001) * 0.45) + 51667
  return tax

In [ ]:
tax_payable = []
salary = cols[2]
for salary in get_salary(salary_string):
  tax = calc_tax(salary)
  tax_payable.append(tax)

In [ ]:
wd.get(get_ticker_symbol())
soup = BeautifulSoup(wd.page_source, 'html.parser')
table = soup.find('table')
#for table_data in soup.find_all('div', {'class': 'content'}):
       # print(table_data)


#executive_salary = []

#df = pd.DataFrame(executive_salary)
 
for row in table.find_all('tr'):
 for row in rows:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    print(cols)      
   #data = row.find_all('td')
   #row_data = [td.text.strip() for td in data]
   
   #executive_salary.append(row_data) 
#print(executive_salary[1])
#print(executive_salary[2])

In [ ]:
soup = BeautifulSoup(wd.page_source, 'html.parser')
tables = soup.find_all('table')
table_rows = tables[0].find_all('tr')
for tr in table_rows:
  
 print (tr)