<a href="https://colab.research.google.com/github/DaveWates/Assignment-ISYS5002/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This Program determines the salary of key executive personnel of companies whereby a user provides a stock market ticker. (I have chosen the major Australian Banks as a test sample). It will then calculate the tax payable on the reported income.**

**1. Load the packages**

In [ ]:
!pip install kora -q
from kora.selenium import wd
from bs4 import BeautifulSoup
import pandas as pd
import requests

     |████████████████████████████████| 57 kB 1.6 MB/s
     |████████████████████████████████| 56 kB 1.9 MB/s

In [ ]:
# Establish Pattern
url = ('https://finance.yahoo.com')
wd.get(url)

**2. Query the Yahoo Finance website using a format string**. When we look for where in Yahoo finance the salary of the executives is stored, we choose a particular stock ticker symbol and select the profile tab. This then provides the relevant web url for the search. 


Of course this is specific to the ticker symbol input. In order to apply this across all companies, we use a format string which replaces the particular ticker with curly brackets. Then we issue a command to tell the program to format the url replacing the {} with what ever is input by the user.

In [ ]:
# Work out the URL pattern
salary_template = ('https://finance.yahoo.com/quote/{}/profile?p={}')
#ticker_symbol = 'User input'
ticker_symbol = input('What is the stock ticker symbol for the company you wish to search? ')
url = salary_template.format(ticker_symbol,ticker_symbol)
print('the url for the search is', get_ticker_symbol())

What is the stock ticker symbol for the company you wish to search? ANZ.AX

NameError: ignored

In [ ]:
ticker_symbol = input('What is the estock ticker symbol for the company you wish to search? ')

What is the estock ticker symbol for the company you wish to search? ANZ.AX

In [ ]:
# Create a function to provide the relevant URL 
salary_template = ('https://finance.yahoo.com/quote/{}/profile?p={}')
def get_ticker_symbol():
 url = salary_template.format(ticker_symbol,ticker_symbol)
 return url

In [ ]:
ticker_symbol = input('What is the estock ticker symbol for the company you wish to search? ')

What is the estock ticker symbol for the company you wish to search? ANZ.AX

In [ ]:
wd.get(get_ticker_symbol())
soup = BeautifulSoup(wd.page_source, 'html.parser')
table = soup.find('table')
body = table.find('tbody')
rows = body.find_all('tr')
#list_of_records = [] # create a empty list to save/store our records
for row in rows:
  cols=row.find_all('td')
  cols=[x.text.strip() for x in cols]
  print(cols[0],cols[2])  
  
  

  # Remember computer start counting form zero, so the 'first' is '0'
#record = (cols[0],cols[2])
#list_of_records.append(record)
  # save the record to our list
# lets see if that workd, print out the records

#print(list_of_records)

Mr. Shayne Cary Elliott B.Com., B.Com 3.24M
Mr. Mark  Whelan 1.59M
Mr. Mark  Hand 1.81M
Ms. Maile Katherine Carnegie 1.66M
Mr. Kevin Paul Corbally 1.57M
Mr. Gerard  Florian 1.49M
Ms. Kathryn  van der Merwe 1.21M
Ms. Antonia Margaret Watson B.Com. 1.38M
Mr. Shane M. Buggle N/A
Mr. Craig Lioneln Sims MBA N/A

In [ ]:
def get_records(soup):
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  list_of_records = [] # create a empty list to save/store our records
  for row in rows:
    for row in rows:
     cols=row.find_all('td')
     cols=[x.text.strip() for x in cols]
     return (cols[0],cols[2])
     list_of_records.append(cols[0],cols[2])    
    #data = row.find_all('td')
    # Remember computer start counting form zero, so the 'first' is '0'
    #record = {'name': data[0], 'title': data[1], 'pay': data[2]}
    #list_of_records.append(record)  # save the record to our list

  #return list_of_records
print(list_of_records)

[]

In [ ]:
def get_salary(salary_string):
   cols[2] = salary_string[-1] 
   num_part = salary_string[0:-1]
   if last_char == 'M':
        salary = float(num_part) * 1000000
   elif last_char == 'k': 
        salary = float(num_part) * 1000
   else: # Must a N/A entry
        salary = 0

In [ ]:
def calc_tax(income):
  if income <= 18200:
    tax = 0
  elif 18200 < income <= 45000:
    tax = (income - 18200) * 0.19
  elif 45000 < income <= 120000:
    tax = ((income - 45001) * 0.325) + 5092
  elif 120000 < income <= 180000:
    tax = ((income - 120001) * 0.37) + 29467
  elif 18000 < income: 
    tax = ((income - 180001) * 0.45) + 51667
  return tax

In [ ]:
tax_payable = []
salary = cols[2]
for salary in get_salary(salary_string):
  tax = calc_tax(salary)
  tax_payable.append(tax)

NameError: ignored

In [ ]:
wd.get(get_ticker_symbol())
soup = BeautifulSoup(wd.page_source, 'html.parser')
table = soup.find('table')
#for table_data in soup.find_all('div', {'class': 'content'}):
       # print(table_data)


#executive_salary = []

#df = pd.DataFrame(executive_salary)
 
for row in table.find_all('tr'):
 for row in rows:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    print(cols)      
   #data = row.find_all('td')
   #row_data = [td.text.strip() for td in data]
   
   #executive_salary.append(row_data) 
#print(executive_salary[1])
#print(executive_salary[2])

['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']
['Mr. Shayne Cary Elliott B.Com., B.Com', 'MD, CEO & Exec. Director', '3.24M', 'N/A', '1964']
['Mr. Mark  Whelan', 'Group Exec. of Institutional', '1.59M', 'N/A', '1960']
['Mr. Mark  Hand', 'Group Exec. Australia Retail & Commercial Banking', '1.81M', 'N/A', '1968']
['Ms. Maile Katherine Carnegie', 'Group Exec. of Digital & Australia Transformation', '1.66M', 'N/A', '1970']
['Mr. Kevin Paul Corbally', 'Group Chief Risk Officer', '1.57M', 'N/A', '1973']
['Mr. Gerard  Florian', 'Group Exec. of Technology', '1.49M', 'N/A', '1966']
['Ms. Kathryn  van der Merwe', 'Group Exec. of Talent & Culture and Service Centres', '1.21M', 'N/A', '1974']
['Ms. Antonia Margaret Watson B.Com.', 'Chief Exec. Officer of New Zealand', '1.38M', 'N/A', '1969']
['Mr. Shane M. Buggle', 'Acting Chief Financial Officer', 'N/A', 'N/A', 'N/A']
['Mr. Craig Lioneln Sims MBA', 'Group Gen. Mang. of Operations & Services', 'N/A', 'N/A', 'N/A']

In [ ]:
soup = BeautifulSoup(wd.page_source, 'html.parser')
tables = soup.find_all('table')
table_rows = tables[0].find_all('tr')
for tr in table_rows:
  
 print (tr)

<tr class="C($tertiaryColor) Fz(xs) BdB Bdc($seperatorColor)" data-reactid="38"><th class="Ta(start) Py(6px) Fw(n)" data-reactid="39"><span data-reactid="40">Name</span></th><th class="Ta(start) Py(6px) Fw(n)" data-reactid="41"><span data-reactid="42">Title</span></th><th class="Ta(end) Py(6px) Fw(n)" data-reactid="43"><span data-reactid="44">Pay</span></th><th class="Ta(end) Py(6px) Fw(n)" data-reactid="45"><span data-reactid="46">Exercised</span></th><th class="Ta(end) Py(6px) Fw(n)" data-reactid="47"><span data-reactid="48">Year Born</span></th></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="50"><td class="Ta(start)" data-reactid="51"><span class="" data-reactid="52"><!-- react-text: 53 -->Mr. Shayne Cary Elliott B.Com., B.Com<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="54"><span class="" data-reactid="55"><!-- react-text: 56 -->MD, CEO &amp; Exec. Director<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="57"><span class="" data-reactid="58"><!-- react-text: 59 -->3.24M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="60"><span class="" data-reactid="61"><span data-reactid="62">N/A</span></span></td><td class="Ta(end)" data-reactid="63"><span class="" data-reactid="64"><!-- react-text: 65 -->1964<!-- /react-text --></span></td></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="66"><td class="Ta(start)" data-reactid="67"><span class="" data-reactid="68"><!-- react-text: 69 -->Mr. Mark  Whelan<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="70"><span class="" data-reactid="71"><!-- react-text: 72 -->Group Exec. of Institutional<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="73"><span class="" data-reactid="74"><!-- react-text: 75 -->1.59M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="76"><span class="" data-reactid="77"><span data-reactid="78">N/A</span></span></td><td class="Ta(end)" data-reactid="79"><span class="" data-reactid="80"><!-- react-text: 81 -->1960<!-- /react-text --></span></td></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="82"><td class="Ta(start)" data-reactid="83"><span class="" data-reactid="84"><!-- react-text: 85 -->Mr. Mark  Hand<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="86"><span class="" data-reactid="87"><!-- react-text: 88 -->Group Exec. Australia Retail &amp; Commercial Banking<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="89"><span class="" data-reactid="90"><!-- react-text: 91 -->1.81M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="92"><span class="" data-reactid="93"><span data-reactid="94">N/A</span></span></td><td class="Ta(end)" data-reactid="95"><span class="" data-reactid="96"><!-- react-text: 97 -->1968<!-- /react-text --></span></td></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="98"><td class="Ta(start)" data-reactid="99"><span class="" data-reactid="100"><!-- react-text: 101 -->Ms. Maile Katherine Carnegie<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="102"><span class="" data-reactid="103"><!-- react-text: 104 -->Group Exec. of Digital &amp; Australia Transformation<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="105"><span class="" data-reactid="106"><!-- react-text: 107 -->1.66M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="108"><span class="" data-reactid="109"><span data-reactid="110">N/A</span></span></td><td class="Ta(end)" data-reactid="111"><span class="" data-reactid="112"><!-- react-text: 113 -->1970<!-- /react-text --></span></td></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="114"><td class="Ta(start)" data-reactid="115"><span class="" data-reactid="116"><!-- react-text: 117 -->Mr. Kevin Paul Corbally<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="118"><span class="" data-reactid="119"><!-- react-text: 120 -->Group Chief Risk Officer<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="121"><span class="" data-reactid="122"><!-- react-text: 123 -->1.57M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="124"><span class="" data-reactid="125"><span data-reactid="126">N/A</span></span></td><td class="Ta(end)" data-reactid="127"><span class="" data-reactid="128"><!-- react-text: 129 -->1973<!-- /react-text --></span></td></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="130"><td class="Ta(start)" data-reactid="131"><span class="" data-reactid="132"><!-- react-text: 133 -->Mr. Gerard  Florian<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="134"><span class="" data-reactid="135"><!-- react-text: 136 -->Group Exec. of Technology<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="137"><span class="" data-reactid="138"><!-- react-text: 139 -->1.49M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="140"><span class="" data-reactid="141"><span data-reactid="142">N/A</span></span></td><td class="Ta(end)" data-reactid="143"><span class="" data-reactid="144"><!-- react-text: 145 -->1966<!-- /react-text --></span></td></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="146"><td class="Ta(start)" data-reactid="147"><span class="" data-reactid="148"><!-- react-text: 149 -->Ms. Kathryn  van der Merwe<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="150"><span class="" data-reactid="151"><!-- react-text: 152 -->Group Exec. of Talent &amp; Culture and Service Centres<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="153"><span class="" data-reactid="154"><!-- react-text: 155 -->1.21M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="156"><span class="" data-reactid="157"><span data-reactid="158">N/A</span></span></td><td class="Ta(end)" data-reactid="159"><span class="" data-reactid="160"><!-- react-text: 161 -->1974<!-- /react-text --></span></td></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="162"><td class="Ta(start)" data-reactid="163"><span class="" data-reactid="164"><!-- react-text: 165 -->Ms. Antonia Margaret Watson B.Com.<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="166"><span class="" data-reactid="167"><!-- react-text: 168 -->Chief Exec. Officer of New Zealand<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="169"><span class="" data-reactid="170"><!-- react-text: 171 -->1.38M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="172"><span class="" data-reactid="173"><span data-reactid="174">N/A</span></span></td><td class="Ta(end)" data-reactid="175"><span class="" data-reactid="176"><!-- react-text: 177 -->1969<!-- /react-text --></span></td></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="178"><td class="Ta(start)" data-reactid="179"><span class="" data-reactid="180"><!-- react-text: 181 -->Mr. Shane M. Buggle<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="182"><span class="" data-reactid="183"><!-- react-text: 184 -->Acting Chief Financial Officer<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="185"><span class="" data-reactid="186"><span data-reactid="187">N/A</span></span></td><td class="Ta(end)" data-reactid="188"><span class="" data-reactid="189"><span data-reactid="190">N/A</span></span></td><td class="Ta(end)" data-reactid="191"><span class="" data-reactid="192"><span data-reactid="193">N/A</span></span></td></tr>
<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="194"><td class="Ta(start)" data-reactid="195"><span class="" data-reactid="196"><!-- react-text: 197 -->Mr. Craig Lioneln Sims MBA<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="198"><span class="" data-reactid="199"><!-- react-text: 200 -->Group Gen. Mang. of Operations &amp; Services<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="201"><span class="" data-reactid="202"><span data-reactid="203">N/A</span></span></td><td class="Ta(end)" data-reactid="204"><span class="" data-reactid="205"><span data-reactid="206">N/A</span></span></td><td class="Ta(end)" data-reactid="207"><span class="" data-reactid="208"><span data-reactid="209">N/A</span></span></td></tr>