<a href="https://colab.research.google.com/github/DaveWates/Assignment-ISYS5002/blob/main/Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUCTION:

The meeting today with the client established the parameters for the project.


The ATO has enlisted our services to design a program which will web-scrape financial data in the form of Executive Sarlaries from Australian companies, and calculate the tax payable on those salaries. 

The program must execute on the input of a stock ticker symbol.


For ease of reference the department has specified the program is to be saved as either (or both) a CSV or SQLite file.


The results will used by the department, for the purposes of an expeditious comparison with historical data, to decide whether there are grounds for further investigation.

#METHODOLOGY:

The process we will implore is initially the standard steps:


1. State the problem clearly
2. Describe the input and output
3. Work a simple example by hand
4. Develop an algorithm (and convert into Python)
5. Test solution with a variety of data

#THE PROBLEM:

In the examination of what the results are: A set of data that essentially must include the executives name, their title, their reported income, and the tax payable on that income. Additionally this table must be produced, basically from the input of a stock ticker symbol.

There appears to be a set of very distinct subsections which need to be addressed:


1.   The definition of a "stock ticker symbol".
2.   Where and how to obtain the information at 1.
3.   Where on the web do we find a list of company executives which
     includes the other information required.
4.   How do we access or scrape this data from the website.
5.   How do we calculate the tax payable.
6.   How do we present this data in a user friendly manner.
7.   How do we save the data in a CSV or SQLite file format.

# RESEARCH:

* What is a stock ticker symbol?

> "A ticker symbol or stock symbol is an abbreviation used to uniquely identify publicly traded shares of a particular stock on a particular stock market." https://en.wikipedia.org/wiki/Ticker_symbol




> The key attributes to take away here is "a uniuely identifiable   abbreviation" for a company shares or stocks. And the place or "particular stock market" where those shares are traded.

* Where do we find the information in 1?


> "Go to the home page of a financial news website such as MoneyCentral.MSN.com or a financial investment website such as NYSE.com." https://budgeting.thenest.com/stock-symbols-companies-4408.html



> With the specification of the New York Stock Echange website above,the Australian equivalent of which I am aware is the Australian Stock Exchange. https://www2.asx.com.au



* This leads us to the 3rd question which seeks to identify where on the web can we input a ticker symbol and find the type of information required? 

> Ask the question what are the best "Stock market websites"?

> Googles answer:

>  https://www.google.com/search?client=safari&rls=en&sxsrf=AOaemvIrSubuGSwrEzmaDXjE5hQ2Fe2p0Q:1634174768611&q=Stock+market+websites&stick=H4sIAAAAAAAAAOOQMRItLslPzlbITSzKTi1RKE9NKs4sSS2OKg7PSIRzFfLT0lKLihWKUhNzFEoyc1MVIJoKS_OBahUy8xQSU1IySzLz8xRK8hXSMvMS85IzgUrzUsuLoUqLUotTE4uSMxQS81IUMjKBgkWZyUAlENnkjMSikuJTjFz6ufoGRkWWhjl5pxg5QZxkw_KyJKiESXK5QbwJlGOcnl5elv2LUTQYm_sbWBgXsWKXusUmyXBjJpfp_LhbziZf5rN015_gNvs6Y4deTet3AEaG86EQAQAA&sa=X&ved=2ahUKEwifudW038jzAhUMzTgGHQQ-Cq0Q4qYDegQINBAH&biw=1254&bih=886&dpr=1


> The one I recognise is Yahoo Finance.
> https://finance.yahoo.com/?fr=sycsrp_catchall

> On examination of the website, the information we are looking for does not become immediately obvious.

> If you click in the search cell of the page, quite conveniently a list of trending tickers appears. 

> If you click on one of the tickers you are transported to a page, which after examination is know as the "Summary". 

> How do we know this? Because directly below where the value of the current share price is displayed, is a sub-menu with Summary underlined in blue.

> There are various selectable sections in this sub-menu. With some trial and error the selection of "Profile" provides exactly the information we are interested in.


>

#THE INPUTS AND OUTPUTS:

This question has been answered throught the evaluation of the problem:

1.   Inputs: Stock ticker symbol
2.   Outputs: A set of data that essentially must include the executives name, their title, their reported income, and the tax payable on that income

# WORK A SIMPLE EXAMPLE BY HAND

*  **The starting point must be the capability to access the Profile page of the company for which the ticker symbol has been input.**

I have chosen the major Australian Banks as a test sample.

The relevant webpage for the ANZ Bank is:
https://au.finance.yahoo.com/quote/ANZ.AX/profile?p=ANZ.AX&.tsrc=fin-srch

The relevant webpage for the Commonwealth Bank is:
https://au.finance.yahoo.com/quote/CBA.AX/profile?p=CBA.AX&.tsrc=fin-srch

The relevant webpage for the National Australia Bank is:
https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX&.tsrc=fin-srch

The relevant webpage for the Westpac Bank is:
https://au.finance.yahoo.com/quote/WBC.AX/profile?p=WBC.AX&.tsrc=fin-srch

The interesting points to note on comparison of the webpages is:
1.   The ticker for each bank includes .ax (Australian Stock Exchange), and
2.   The only way in which the URL's are different, is the ticker symbol as specified in the address.

This means that we should be able to supply a ticker, which can then be input into the relevant areas of the URL, which will in turn provide access to the page we want.

In [ ]:
#By substituting the ticker with curly braces we are creating a dictionary.
#A dictionary is a data structure that maps one value to another.
#How does this work?
#We need the ticker first
ticker_symbol = input('What the ticker of the company you like to research?  ')
#I have called it template but it could be called anything, and it is the base URL which has the ticker replaced with the braces.
template = 'https://au.finance.yahoo.com/quote/{}/profile?p={}&.tsrc=fin-srch'
# =To insert the ticker where we want it in the url, we use the format command.
url = template.format(ticker_symbol,ticker_symbol)
print(url)

What the ticker of the company you like to research?  Anz.ax
https://au.finance.yahoo.com/quote/Anz.ax/profile?p=Anz.ax&.tsrc=fin-srch

Once we are happy that the method works we can turn it into a function, which we can call when it is required.

In [ ]:
#Create a function to provide the relevant URL 
def get_ticker_url(ticker_symbol):
 salary_template = ('https://au.finance.yahoo.com/quote/{}/profile?p={}&.tsrc=fin-srch')
 url = salary_template.format(ticker_symbol,ticker_symbol)
 return url

* **Next we have to be able to extract the data we need from the url, this is known as scraping.**

In [ ]:
#'''
Mr. Shayne Cary Elliott B.Com., B.Com	MD, CEO & Exec. Director	3.24M	N/A	1964
Mr. Mark Whelan	Group Exec. of Institutional	1.59M	N/A	1960
Mr. Mark Hand	Group Exec. Australia Retail & Commercial Banking	1.81M	N/A	1968
Ms. Maile Katherine Carnegie	Group Exec. of Digital & Australia Transformation	1.66M	N/A	1970
Mr. Kevin Paul Corbally	Group Chief Risk Officer	1.57M	N/A	1973
Mr. Gerard Florian	Group Exec. of Technology	1.49M	N/A	1966
Ms. Kathryn van der Merwe	Group Exec. of Talent & Culture and Service Centres	1.21M	N/A	1974
Ms. Antonia Margaret Watson B.Com.	Chief Exec. Officer of New Zealand	1.38M	N/A	1969
Mr. Farhan Faruqui	Chief Financial Officer	N/A	N/A	1965
Mr. Craig Lioneln Sims MBA	Group Gen. Mang. of Operations & Services	N/A	N/A	N/A
#'''

The above is just an example of the pertinent data and how we would like it to appear. Obvously in addition, ideally we would want tax payable appended to the table.

The printout above is purely a "copy and paste", a screenshot formatted to appear like a table. 

We have to develop a function that will extract this data simply by inputing the ticker symbol, then allow manipulation of the data to feed into a tax calculator, which by chance I have already written a function for in a previous project.

In order to perform a webscrape we need to import certain libraries. The libraries we have chosen have been selected purely on two criteria, ease of use (lack of complexity) and reliability (failure rate).

The tade-off made, is the speed at which the libraries operate. Specifically, Selenium, although almost gauranteed to work, is slow in its operation. 

These libraries are:
*   selenium - "Selenium refers to a suite of tools that are widely used in the testing community when it comes to cross-browser testing" (https://www.browserstack.com/guide/selenium-webdriver-tutorial).
*   kora - "This is a collection of tools to make programming on Google Colab easier" (https://pypi.org/project/kora/).

The two together, basically create a webdriver which allows you to interegate a browser by sending commands to that browser and interacting with its applications. 

In this way we are able to extract information in "chunks". As the information is sourced from a web page these chunks are in HTML format. So in order to search and manipulate the data to select the pertinent information.

*   "Beautiful Soup is a Python package for parsing HTML and XML documents 
(including having malformed markup, i.e. non-closed tags, so named after tag soup). It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping (https://en.wikipedia.org/wiki/Beautiful_Soup_(HTML_parser).

Parsing, "To parse, in computer science, is where a string of commands – usually a program – is separated into more easily processed components, which are analyzed for correct syntax and then attached to tags that define each component (https://www.techopedia.com/definition/3853/parse)

Collectively in simple terms, we can search a web page, identify the elements of interest, extract that information and present that in a format that we find useful.


*   "Pandas" this is a python library used for data analysis. Whereby information can be turned into dataframes and presented or manimpulated in numerous ways.

In [ ]:
# We use -q to instruct the program not to disply things like copyright and version messages. 
!pip install kora -q
from kora.selenium import wd
from bs4 import BeautifulSoup
import pandas as pd

Steps to follow when scraping:

1.   Once the libraries have been imported, we go to the URL of interest and then to the page where the pertinent table data is located. 
 
> In the ANZ example we source the yahoo finance ANZ profile page, and the above screenshot will be displayed in its original form.


2.   If we were to select anywhere on the page and right-click, a window menu will be displayed which provides an option "inspect".

> This when selected opens another window to the right of the main page and displays the HTML for the table.

3.   Moving the cursor over the HTML block will highlight various elements of the main page (LHS). 

> On closer examination of the HTML, with reference to what is being highlighted on the main page, it can be seen that the information in the table is represented in the HTML block by various different tags.

> These tags form  a "tree" with braches connected to sub-tags relating to more detailed infromation within the main table:
*   The "table" tag highlights the entire table.  
*   The "thead" tag highlights the header of the table.
*   The "tbody" tag highlights the information body of the table.
*   The "trclass" tag highlights the information body of the table.
*   The "tdclass" tag highlights each column of information.

> The r in "tr" refers to the row; the "d" in the td refers to the data within each rown and column. 

> For further on the structure of HTML refer: (https://www.w3schools.com/html/html_basic.asp).

4.  **Quick summary** - we have developed a function to get the relevant URL, and now we have established the pattern in the HTML of that URL.

> How do we extract the infromation?

> The webdriver(wd) contained in Selenium will execute a command called get and will access the specifed URL.

> We then use BeautifulSoup to parse the HTML, basically break into smaller parts for easy translation into another language.

> Because the URL address commences with HTTPS (Hyper Text Transport Protocol System) BeautifulSoup knows it is an HTML page which needs parsing.

> Having woorked out the pattern of the HTML, I know we have to narrow the search down by starting at the largest branch of the tree and following it through the smaller ones until we reach the data we are searching for.

> This is done first by finding the all tables. In this case there is only 1. If there were more than 1, the speciifcation of table could be find_table[0]. This would find the first table in the list. Remebering computers start counting at 0. So table 2 would be table[1].

> From the table tag we then locate the body, then the rows and finally the data in those rows.

> The code ends up looking like:

In [ ]:
wd.get('https://au.finance.yahoo.com/quote/Anz.ax/profile?p=Anz.ax&.tsrc=fin-srch')
soup = BeautifulSoup(wd.page_source)
tables = soup.find_all('table')
for table in tables:
  body = table.find('tbody')
  rows = body.find_all('tr')
  for row in rows:
    data = row.find_all('td')
    for txt in data:
      print(txt.text)
    print()


5. The output is all the information but includes superfluous items which are not required, like date of birth.

> We can now develop a function based on the above, to scrape the page and provide an output which contains only the items of information we want - name, title and pay; by creating a list and appending those items only.

In [ ]:
def get_records(soup):
  ''' This function extracts the row from an HTML table'''
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  list_of_records = [] # Create a empty list to save/store our records
  for row in rows:
     data = row.find_all('td')
     data = [x.text.strip() for x in data] # This esures that only the text is returned, without the tag information.
    # Remember start counting from zero, so the 'first' item is '0'
     record = {'name': data[0], 'title': data[1], 'pay': data[2]}
     list_of_records.append(record)  # Save the required items to our list
    
  return list_of_records

print(list_of_records)

[{'name': 'Mr. Craig Lioneln Sims MBA', 'title': 'Group Gen. Mang. of Operations & Services', 'pay': 'N/A', 'tax': 0}]

6. From reviewing the output of our list, it can be seen that the pay or salary is shown as a number followed by a letter such as "M" for million or "k" for thousands.

> Obviously in order for the tax calculator to work, it requires whole numbers only. "2.54 M" will generate an error.

> Thus we need to able to convert the text into a useable number.

> The use of "-1" causes Python to start at the last character of a list.

> eg., List = [3, 2, 1]

>    List[-1] = 1


>    [0:-1] = returns everything but the last character.


> In the list we have created from the scrape, "pay" is the item we need to correct.

In [ ]:
pay = ('998k') # Appears as a string
last_char = pay[-1] # Selects the M
num_part = pay[0:-1] # States that the number is everything but M
if last_char == 'M':
    salary = float(num_part) * 1000000 # Converts the number to a float
elif last_char == 'k': 
    salary = float(num_part) * 1000
else:
    salary = 0
print(salary)

998000.0

As the logic in the program is true, we can now convert this into a function.

In [4]:
def get_salary(salary_string):
   ''' This function takes a string, and removes the last 
   character then converts the remainder into a number '''
   last_char = salary_string[-1] 
   num_part = salary_string[0:-1]
   if last_char == 'M':
        salary = float(num_part) * 1000000
   elif last_char == 'k': 
        salary = float(num_part) * 1000
   else: # Must a N/A entry
        salary = 0
   return salary

7. The final part of the process is to introduce the tax calculation function. As already mentioned this function was created in a previous project and can be introduced unchanged.

**ATO tax rate table.**

[Resident tax rates 2021–22
Taxable income](https://www.ato.gov.au/rates/individual-income-tax-rates/)

Income            | Tax on this income 
------------------|----------------------
0 – \$18,200       | Nil
\$18,201 – \$45,000 | 19 cents for each \$1 over \$18,200
\$45,001 – \$120,000 | \$5,092 plus 32.5 cents for each \$1 over \$45,000
\$120,001 – \$180,000 |  \$29,467 plus 37 cents for each \$1 over \$120,000
\$180,001 and over | \$51,667 plus 45 cents for each \$1 over \$180,000

In [6]:
def calc_tax(income):
  if income <= 18200:
    tax = 0
  elif 18200 < income <= 45000:
    tax = (income - 18200) * 0.19
  elif 45000 < income <= 120000:
    tax = ((income - 45001) * 0.325) + 5092
  elif 120000 < income <= 180000:
    tax = ((income - 120001) * 0.37) + 29467
  elif 18000 < income: 
    tax = ((income - 180001) * 0.45) + 51667
  return tax

# DEVELOP AN ALGORITHM (convert into Python):

The problem has been worked through and the algritm developed and converted into python functions.

The program in its entirety would look like this:

In [1]:
!pip install kora -q
from kora.selenium import wd
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
def get_ticker_url(ticker_symbol):
 ''' This Function constructs a URL from a ticker symbol'''
 salary_template = ('https://au.finance.yahoo.com/quote/{}/profile?p={}&.tsrc=fin-srch')
 url = salary_template.format(ticker_symbol,ticker_symbol)
 return url


 def get_salary(salary_string):
   ''' This function takes a string, and removes the last 
   character then converts the remainder into a number '''
   last_char = salary_string[-1] 
   num_part = salary_string[0:-1]
   if last_char == 'M':
        salary = float(num_part) * 1000000
   elif last_char == 'k': 
        salary = float(num_part) * 1000
   else: # Must a N/A entry
        salary = 0
   return salary


def get_records(soup):
  '''This function extracts the row from an HTML table'''
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  list_of_records = [] 
  for row in rows:
     data = row.find_all('td')
     data = [x.text.strip() for x in data] 
     record = {'NAME': data[0], 'TITLE': data[1], 'PAY': data[2]}
     list_of_records.append(record)  
    
  return list_of_records


  def calc_tax(income):
   if income <= 18200:
    tax = 0
   elif 18200 < income <= 45000:
    tax = (income - 18200) * 0.19
   elif 45000 < income <= 120000:
    tax = ((income - 45001) * 0.325) + 5092
   elif 120000 < income <= 180000:
    tax = ((income - 120001) * 0.37) + 29467
   elif 18000 < income: 
    tax = ((income - 180001) * 0.45) + 51667
   return tax

# TEST THE SOLUTION WITH A VARIETY OF DATA

Having placed all the fucntions together, the final phase is to test to ensure the program works.

The solution below includes each of the functions derived in evaluating and reserching the problem.

1. get_ticker_url
2. get_records
3. get_salary
4. calc_tax

Applicable notes:

1. We add the list constructed to a pandas dataframe in order to present the data in a user-friendly format, and include a column for tax payable which was not a column in the original table.

2. In this situation as the URL is not specified and as the program uses the get_ticker_url function, it is necessary to specify the type of page which requires parsing.

3. The print of the list_of_records[idx] is purely to confirm that the tax payable information has been calculated and included in the presented information.

4. If the program is being run for the first time; as the determination of the functions contained in "WORK A SIMPLE EXAMPLE BY HAND" have not been removed or commented-out for demonstration purposes, all cells may need to be re-run should an error occur in execution.

In [15]:
ticker_symbol = input('What is the stock ticker symbol for the company you wish to search? ')
wd.get(get_ticker_url(ticker_symbol))

soup = BeautifulSoup(wd.page_source, 'html.parser') # In this case we are specifying the type of page we want to parser
table = soup.find('table')
body = table.find('tbody')
list_of_records = get_records(soup)

for idx in range(len(list_of_records)):
  salary = get_salary(list_of_records[idx]['PAY'])
  tax = calc_tax(salary)
  list_of_records[idx]['TAX'] = tax
  # Debugging message, to see what is being added, comment out once program is working
  # print(list_of_records[idx])
  # Add to pandas dataframe, only works because we created a list of dictionaires
records_df = pd.DataFrame.from_records(list_of_records)
records_df

What is the stock ticker symbol for the company you wish to search? abc.ax

                                                NAME  ...         TAX
0  Mr. Nicholas D. Miller BE(Hons), FIPENZ, GAICD...  ...  1082166.55
1                               Ms. Theresa  Mlikota  ...   470166.55
2                                 Mr. Andrew L. Dell  ...   170484.55
3                                   Mr. Brett  Brown  ...   319002.55
4                                 Mr. Brad D. Lemmon  ...   274911.55
5                                 Mr. Darryl  Hughes  ...        0.00
6                           Mr. Marcus R. D. Clayton  ...        0.00
7                                 Ms. Rebecca  Irwin  ...        0.00
8                              Mr. Michael F. Miller  ...        0.00
9                           Mr. George  Agriogiannis  ...        0.00

[10 rows x 4 columns]

# STORAGE

As mentioned in the problem description, the table once completed is to be saved to either a 'CSV' or 'SQLite' file format.

For example purposes I have chosen the 'CSV' format and have created CSV files for the 4 major banks.

1. records(ANZ).csv
2. records(CBA).csv
3. records(NAB).csv
4. records(WBC).csv

In [14]:
records_df.to_csv('records(WBC).csv')

# CONCLUSION

The specification of the project has 3 distict objectives: 

1. To design a program which will web-scrape financial data in the form of Executive Sarlaries from Australian companies, and calculate the tax payable on those salaries.

2. The program must execute on the input of a stock ticker symbol.

3. For ease of reference the department has specified the program is to be saved as either (or both) a CSV or SQLite file.

The objectives as described have been satisfied and the program is now offered for review and scrutinization.