<a href="https://colab.research.google.com/github/DaveWates/Assignment-ISYS5002/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This Program determines the salary of key executive personnel of companies whereby a user  provides a stock market ticker. (I have chosen the major Australian Banks as a test sample). It will then calculate the tax payable on the reported income.** 

**The ticker is input in Yahoo Finance link https://finance.yahoo.com/?fr=sycsrp_catchall where the URL link for the company profile page may be sorced.** **bold text**

**1. Load the packages**

In [1]:
!pip install kora -q
from kora.selenium import wd
from bs4 import BeautifulSoup

**2.Prompt the user for the ticker and locate the URL from Yahoo Finance.**

In [2]:
#Prompt user for Bank
bank = input('Which bank do you want to search?;choose from ANZ, CBA, NAB, WBC = ')

urls = ('https://finance.yahoo.com/quote/ANZ.AX/profile?p=ANZ.AX',
       'https://finance.yahoo.com/quote/CBA.AX/profile?p=CBA.AX',
       'https://finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX',
       'https://finance.yahoo.com/quote/WBC.AX/profile?p=WBC.AX')

def get_url():
  for url in urls:
   if bank == 'ANZ':
    return (urls[0])
   if bank == 'CBA':
    return (urls[1])
   if bank == 'NAB':
    return (urls[2])
   if bank == 'WBC':
    return (urls[3])

print('The url required is', get_url())

Which bank do you want to search?;choose from ANZ, CBA, NAB, WBC = WBC
The url required is https://finance.yahoo.com/quote/WBC.AX/profile?p=WBC.AX

**3. Use the related URL to scrape the company profile page.**

In [3]:
wd.get(get_url())
soup = BeautifulSoup(wd.page_source, 'html.parser')
tables = soup.find_all('table')
for table in tables:
  body = table.find('tbody')
  rows = body.find_all('tr')
  for row in rows:
    data = row.find_all('td')
    for txt in data:
      print(txt.text)
    print()

Mr. Peter Francis King F.C.A., BEc, FCA
CEO, MD & Director
2.81M
N/A
1970

Mr. Michael  Rowland B.Com., F.C.A.
Chief Financial Officer
1.22M
N/A
1962

Mr. Leslie Wilson Vance
Group Exec. of Financial Crime, Compliance & Conduct
1M
N/A
1971

Ms. Rebecca  Lim B Econ, L.L.B., LLB (Hons)
Group Gen. Counsel & Enterprise Exec.
871.92k
N/A
1972

Ms. Christine  Parker
Group Exec. of HR
999.8k
N/A
1960

Mr. Jason  Yetton B.Com., BCom, TGMP, GDAppFin
Chief Exec. of Specialist Bus.es & Group Strategy
1.25M
N/A
1970

Ms. Carolyn  McCann B.A.
Group Exec. of Customer & Corp. Relations
941k
N/A
1973

Mr. David  Stephen
Chief Risk Officer
1.89M
N/A
1965

Mr. Scott  Collary
Chief Operating Officer
N/A
N/A
N/A

Mr. Andrew  Bowden
Head of Investor Relations
N/A
N/A
N/A

4. **Manipulate the data for ease of reference**

In [6]:
import pandas as pd

In [7]:
# Creating a data frame df.
df = pd.DataFrame({'Name':['Peter Francis King', 'Michael  Rowland', 'Leslie Wilson Vance', 'Rebecca  Lim','Christine  Parker','Jason  Yetton','Ms. Carolyn  McCann','Mr. David  Stephen'],'Salary':[2810000, 1220000, 1000000, 871920,999800,1250000,941000,1890000]})
# Head displays only the executives with reported income from the data frame.
df.head()

                  Name   Salary
0   Peter Francis King  2810000
1     Michael  Rowland  1220000
2  Leslie Wilson Vance  1000000
3         Rebecca  Lim   871920
4    Christine  Parker   999800